html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PASSWORD */


body {
	background-image: url(../assets/img/Top\ Gun\ 15.png);
	background-size: 100%;
} 

header{
	display: flex;
    justify-content: center;
    height: 150px;
	margin-top: 20px;
    background-color: transparent;
}

header a{
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: transparent;
	height: 100%;
}

header img{
	display: flex;
	justify-content: center;
    height: 90%;
    background-color: transparent;
}

/* MAIN-Cloud */
.main-cloud{
    background-color: black;
	opacity: 0.6;
	padding: 2%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	width: 580px;
	height: 195px;
	border-radius: 20px;
	border-top-left-radius: 70px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 70px;
}

.main-cloud{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}

.main-cloud img{
    margin-left: 200px;
    width: 170px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%)
}
/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #005fb0;
    position: absolute;
    bottom: 0;
	left: 0;
	width: 100%;
}

.icons, .trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons {
    width: 750px;
    height: 60px;
    opacity: 0.6;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);
}

footer img {
    background-color: white;
    width: 30px;
    padding: 5px;
    border-radius: 30%;
}

h3 {
    width: 80px;
    text-align: center;
    margin-left: 2px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}