html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* WEATHER */


body {
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
	background-position: center;
	transition: all .5s ease;
} 

header{
	display: flex;
    justify-content: center;
    height: 120px;
	margin-top: 20px;
    background-color: transparent;
}

header a{
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: transparent;
	height: 100%;
}

header img{
	display: flex;
	justify-content: center;
    height: 90%;
    background-color: transparent;
}

/* MAIN-WEATHER */

.weatherTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    gap: 15px;
    background-color: black;
    opacity: 0.6;
    border-top-left-radius: 70px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 70px;
}

.weatherTitle img{
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);
}

.main-weather{
    background-color: black;
	opacity: 0.6;
	padding: 1%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	width: 580px;
	height: 210px;
    margin: 10px;
	border-radius: 20px;
	border-top-left-radius: 50px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 50px;
}



.weatherCurrent{
    background-color: none;
    height: 100px;
    font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	color: white;
	padding: 5px;
}

.cityTime{
  background-color: none;
  display: flex;
  gap: 120px;
  margin-left: 15px;
}

.textCondition{
    margin-left: 15px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 15px;
}

.infoCurrent{
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 570px;
    height: 50px;
}

.iconWeather{
    background-color: none;
    display: flex;
    align-items: center;
    height: 48px;
    margin-right: 8px;
}

.temp-icon{
    display: flex;
    align-items: center;
    height: 48px;
    gap: 2px;
    background-color: none;
}


.iconTerm{
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);
}

.temperature{
    font-size: 30px;
}

.weatherInfoData{
    font-size: 10px;
    margin-left: 4%;
    align-items: center;
    height: 48px;
    background-color: none;
}

.weatherInfoData li{
    background-color: nonered;
    margin: 2px;
}


.forecast-hour .iconHours{
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 14px;
}

.forecast-info {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    overflow: scroll;
    background-color: none;
    margin-right: 20px;
    width: 540px;
    margin-left: 20px;    
    margin-top: 10px;
}

.forecast-info::-webkit-scrollbar {
    border-radius: 50px;
    width: 0px;
    height: 4px;
    background-color: white;
}

.forecast-info::-webkit-scrollbar-thumb{
    background-color: #005faf;
}

.forecast-info .forecast-hour{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
}

.forecast-hour{
    background-color: none;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 85px;
    justify-content: center;
    align-items: center;
    color: white;
    
}



/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #005fb0;
    position: absolute;
    bottom: 0;
	left: 0;
	width: 100%;
}

.icons, .trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons {
    width: 750px;
    height: 60px;
    opacity: 0.6;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(102%) contrast(102%);
}

footer img {
    background-color: white;
    width: 30px;
    padding: 5px;
    border-radius: 30%;
}

h3 {
    width: 80px;
    text-align: center;
    margin-left: 2px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}



